<p id="notice"><%= notice %></p>

<p>
  <strong>N menbers:</strong>
  <%= @band.n_menbers %>
</p>

<p>
  <strong>Date debut:</strong>
  <%= @band.date_debut %>
</p>

<p>
  <strong>Type band:</strong>
  <%= @band.type_band %>
</p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
